<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="Author" content="Brent Fitzgerald" />
  <!-- (c) Copyright 2006 by PLW. All Rights Reserved. -->
  <meta name="Keywords" content="PLW, Physical Language Workshop, MIT, Media Lab, Brent Fitzgerald, timeline, folksonomy, del.icio.us" />
  <meta name="Description" content="Eats your del.icio.us tags and spits out a tasty timeline." />
  
	<title>Yummy Yummy Yummy I've got Tags in my Tummy</title>
	<%= javascript_include_tag "prototype" %> 
	<%= javascript_include_tag "scriptaculous.js?load=effects,dragdrop,controls" %> 
	<%= javascript_include_tag "application" %> 
	<%= stylesheet_link_tag "site" %>
</head>

<body>

<div id="page">

<%= yield %>


<div id="footer_wrapper">
<div id="footer">
		
		<!--Creative Commons License-->
		
		<div id="attr">
		  <p>Created by <%= link_to "Brent Fitzgerald", "http://brentfitzgerald.com/" %>.<br/>May be reused under the <%= link_to "Creative Commons Attribution-Share Alike 2.5 License", "http://creativecommons.org/licenses/by-sa/2.5/", :rel => "license" %>.
  	</p>
		
<!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#">
    	<Work rdf:about="">
    		<license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
    	<dc:type rdf:resource="http://purl.org/dc/dcmitype/InteractiveResource" />
    	</Work>
    	<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/><requires rdf:resource="http://web.resource.org/cc/ShareAlike"/></License></rdf:RDF> -->
  	</p>
  <div>
</div>
</div>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-452652-6";
urchinTracker();
</script>

<!--
  Created by
   _                           _                                   _        
  | |                         | | o                               | |    |  
  | |   ,_    _   _  _  _|_   | |   _|_  __   __,  _   ,_    __,  | |  __|  
  |/ \_/  |  |/  / |/ |  |    |/  |  |  / / _/  | |/  /  |  /  |  |/  /  |  
   \_/    |_/|__/  |  |_/|_/  |__/|_/|_/ /_/ \_/|/|__/   |_/\_/|_/|__/\_/|_/
                              |\          /|   /|                           
                              |/          \|   \|
-->  
  
</body>
</html>
